/* .box1, .box2{
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    margin: 10px 50px;
}

.box1 p{
    padding: 15px;
}

.box1 div{
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
}

.box2{
    padding: 15px
} */