.Header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 20px 0px;
}

.Header div{
    display: flex;
}

.Header .header_center{
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

.Header .header_left{
    width: 50%;
    justify-content: flex-start;
}

.Header .header_center{
    width: 50%;
    justify-content: flex-start;
}

